<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/icon/favicon-16x16.png">
    <link rel="manifest" href="~/img/icon/site.webmanifest">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title - Yomi Olatunji</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/paper-kit.css?v=2.3.1" />
    @*<link rel="stylesheet/scs" href="~/scss/paper-kit.scss" />*@
    <link rel="stylesheet" href="~/YomiOlatunji.styles.css" asp-append-version="true" />
</head>
<body class="sidebar-collapse">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg nav-down navbar-absolute">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="../admin" rel="tooltip" title="Yomi Olatunji" data-placement="bottom">
                    Dashboard
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-color="green">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-page="/Posts/Index">
                            Post
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Admin/Category/Index">
                            Category
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Admin/Contact/Index">
                            Message
                        </a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-tagsinput.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datetimepicker.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/paper-kit.js?v=2.3.1" type="text/javascript"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
