@page
@model YomiOlatunji.Areas.Admin.Pages.Posts.PublishModel
@{
}
<div class="main">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>