@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
            <div class="card card-register">
                <h3 class="card-title">Forgot your password?</h3>
                <hr />
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-floating">*@
                    <label asp-for="Input.Email" class="form-label"></label>
                    <input asp-for="Input.Email" class="form-control  no-border" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    @*</div>*@
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
                </form>
                
                <div class="forgot">
                    <a asp-page="./Login" class="btn btn-link"><i class="fa fa-angle-left"></i>Back to Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="demo-footer text-center">
        <h6>
            &copy; <script>
                       document.write(new Date().getFullYear())
            </script>
        </h6>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
