@page
@model YomiOlatunji.Areas.Admin.Pages.Messages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>ContactMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ContactMessage.Id" />
            <div class="form-group">
                <label asp-for="ContactMessage.Name" class="control-label"></label>
                <input asp-for="ContactMessage.Name" class="form-control" />
                <span asp-validation-for="ContactMessage.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMessage.EmailAddress" class="control-label"></label>
                <input asp-for="ContactMessage.EmailAddress" class="form-control" />
                <span asp-validation-for="ContactMessage.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMessage.PhoneNumber" class="control-label"></label>
                <input asp-for="ContactMessage.PhoneNumber" class="form-control" />
                <span asp-validation-for="ContactMessage.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMessage.Title" class="control-label"></label>
                <input asp-for="ContactMessage.Title" class="form-control" />
                <span asp-validation-for="ContactMessage.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMessage.Message" class="control-label"></label>
                <input asp-for="ContactMessage.Message" class="form-control" />
                <span asp-validation-for="ContactMessage.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMessage.Read" class="control-label"></label>
                <input asp-for="ContactMessage.Read" class="form-control" />
                <span asp-validation-for="ContactMessage.Read" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMessage.DateRead" class="control-label"></label>
                <input asp-for="ContactMessage.DateRead" class="form-control" />
                <span asp-validation-for="ContactMessage.DateRead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMessage.CreateTime" class="control-label"></label>
                <input asp-for="ContactMessage.CreateTime" class="form-control" />
                <span asp-validation-for="ContactMessage.CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMessage.CreateBy" class="control-label"></label>
                <input asp-for="ContactMessage.CreateBy" class="form-control" />
                <span asp-validation-for="ContactMessage.CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMessage.UpdateTime" class="control-label"></label>
                <input asp-for="ContactMessage.UpdateTime" class="form-control" />
                <span asp-validation-for="ContactMessage.UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMessage.UpdateBy" class="control-label"></label>
                <input asp-for="ContactMessage.UpdateBy" class="form-control" />
                <span asp-validation-for="ContactMessage.UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ContactMessage.IsDeleted" /> @Html.DisplayNameFor(model => model.ContactMessage.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
