@page
@model YomiOlatunji.Areas.Admin.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.Id" />
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Description" class="control-label"></label>
                <input asp-for="Category.Description" class="form-control" />
                <span asp-validation-for="Category.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.Icon" class="control-label"></label>
                <input asp-for="Category.Icon" class="form-control" />
                <span asp-validation-for="Category.Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.ColorCode" class="control-label"></label>
                <input asp-for="Category.ColorCode" class="form-control" />
                <span asp-validation-for="Category.ColorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.HeaderImage" class="control-label"></label>
                <input asp-for="Category.HeaderImage" class="form-control" />
                <span asp-validation-for="Category.HeaderImage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Category.DedicatedCategory" /> @Html.DisplayNameFor(model => model.Category.DedicatedCategory)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Category.CreateTime" class="control-label"></label>
                <input asp-for="Category.CreateTime" class="form-control" />
                <span asp-validation-for="Category.CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CreateBy" class="control-label"></label>
                <input asp-for="Category.CreateBy" class="form-control" />
                <span asp-validation-for="Category.CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.UpdateTime" class="control-label"></label>
                <input asp-for="Category.UpdateTime" class="form-control" />
                <span asp-validation-for="Category.UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.UpdateBy" class="control-label"></label>
                <input asp-for="Category.UpdateBy" class="form-control" />
                <span asp-validation-for="Category.UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Category.IsDeleted" /> @Html.DisplayNameFor(model => model.Category.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
