@page
@model YomiOlatunji.Pages.AboutModel
@{
}
<div class="page-header page-header-small" style="background-image: url('../img/banner.png');">
    <div class="filter filter-primary"></div>
    <div class="content-center">
        <div class="container">
            <h1>Hi, <br /> I am Yomi Olatunji.</h1>
            <h3>A Software Engineer</h3>
        </div>
    </div>
</div>
<div class="main about-us">
    <div class="section">
        <div class="container">
            <h2 class="title-uppercase">About Me</h2>
            <p>I am a software engineer based in Lagos, Nigeria. 
                I have over 7 years industrial experience working in Financial, Insurance and Edutech industries, automating processes, developing mobile and web application. 
                I have learnt and worked with dozens of programming language and technologies but my favourite for backend development is .net technologies.</p>

            

        </div>
    </div>
</div>
