@page
@model YomiOlatunji.Pages.AboutModel
@{
}
<div class="page-header page-header-small" style="background-image: url('../img/banner.png');">
    <div class="filter filter-primary"></div>
    <div class="content-center">
        <div class="container">
            <h1>Hi, <br /> I am Yomi Olatunji.</h1>
            <h3>A Software Engineer</h3>
        </div>
    </div>
</div>
<div class="main about-us">
    <div class="section">
        <div class="container">
            <h2 class="title title-uppercase">About Me</h2>
            <p>I am a software engineer based in Lagos, Nigeria. 
                I have over 8 years industrial experience working in Financial, Insurance and Educational sector, automating processes, developing mobile and web applications. 
                I have learnt and worked with dozens of programming languages and technologies but my favourite technology is .NET technologies.</p>

            
            <h3 class="title">The Journey</h3>
            <p>
                I studied Pure and Applied Mathematics in Ladoke Akintola University of Technology, Ogbomosho. In 2009 during ASUU strike, I started learning HTML on my Nokia 5130 xpressmusic phone. 
            </p>
            <p>2009 - Started learning programming</p>
            <p>2011 - Started Backend development with PHP</p>
            <p>2013 - Switched major programming language to C#</p>
            <p>2014 - Started my first job at Ecobank</p>
            <p>2015 - Started Android Development & left Ecobank</p>
            <p>2016 - Back to Ecobank as full staff and dotnet development</p>
            <p>2017 - Joined Union bank</p>
            <p>2019 - Won Union bank CEO Award</p>
            <p>2019 - Won CFO Award for Excellence of Service</p>
            <p>2020 - Joined Access Bank</p>
            <p>2021 - Joined First Bank as Senior Software Engineer</p>
            <p>2022 - Joined Cavista as Senior Engineer</p>
        </div>
    </div>
</div>
