@page
@model IndexModel

<div class="landing-page" data-parallax="true">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="motto">
                        <div class="hometext">

                            <h1 class="title text-primary">Yọmí Ọlátúnjí</h1>
                            <p class="description">
                                I am a backend developer, specialise in using .net technologies.<br />
                                Senior software engineer at First bank.
                                Ex-software engineer at Access Bank, Union Bank and Ecobank.
                            </p>
                            <br />

                            <a href="https://twitter.com/yomiolatunji_" class="btn btn-link btn-just-icon btn-primary" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://medium.com/@@yomiolatunji" class="btn btn-link btn-just-icon btn-primary" target="_blank"><i class="fa fa-medium"></i></a>
                            <a href="https://www.instagram.com/yomiolatunji/" class="btn btn-link btn-just-icon btn-primary" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://github.com/yomiolatunji" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-github" target="_blank"></i></a>
                            <a href="https://www.linkedin.com/in/yomiolatunji/" class="btn btn-link btn-just-icon btn-primary"><i class="fa fa-linkedin" target="_blank"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="info">
                        <img alt="Yomi" src="~/img/yomi-homepage.png" class="homeimage" />
                    </div>
                </div>
                @*<div class="col-md-6">
                    <div class="info">
                    <div class="icon icon-default">
                    <i class="nc-icon nc-align-left-2"></i>
                    </div>
                    <div class="description">
                    <h4 class="info-title">New Ideas</h4>
                    <p>Larger,  thinner. More powerful, but remarkably power efficient.</p>
                    <a href="#pkp" class="btn btn-link btn-primary">See more</a>
                    </div>
                    </div>
                    </div>*@
            </div>

        </div>
    </div>
</div>
