@page
@model YomiOlatunji.Pages.ProjectsModel
@{
}<div class="main about-us">
    <div class="section">
        <div class="container">
            <h3 class="title-uppercase">Coming soon</h3>
        </div>
    </div>
</div>
